body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBarSearch {
  padding-right:20px;
}

.NavBarBrand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

i {
  font-family: FontAwesome;
}

.chart {
  padding-top:  100px;
  padding-bottom: 100px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  position:  relative;
  padding-left: 200px;
}